body {
	font-family: 'Open Sans';
	margin: 0%;
	padding: 0%;
	height: auto;
	text-align: justify;
}

.main {
	display: flex;
	flex-direction: row;
}
.content {
	display: flex;
	height: 100vh;
	width: 65vw;
	justify-content: space-between;
	flex-direction: column;
}

.greeting {
	color: white;
	background: #141414;
	/* border: green; */
	text-align: center;
	flex-direction: column;
	height: 100vh;
	width: 35vw;
}
.header {
	width: 100%;
	border-bottom: 1px solid black;
	box-shadow: 0px 0px 10px 0px;
}

.test {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 30vh;
}

.about_oneself {
	height: auto;
	padding-left: 10%;
	padding-right: 10%;
	text-align: justify;
}

.list {
	list-style: none;
	display: flex;
	width: 500px;
	justify-content: space-around;
}

.list li {
	padding: 8px;
	padding-left: 14px;
	padding-right: 14px;
	border-radius: 10px;
	color: white;
	background: grey;
}

.main-section {
	display: flex;
	justify-content: space-around;
	margin-left: 50px;
	margin-right: 50px;
	/* flex-direction: column; */
	flex-wrap: wrap;
	flex-grow: initial;
	gap: 25px;
}

.content-section {
	color: white;
	background: grey;

	padding: 20px;
	border-radius: 50px;
}
